* {
    box-sizing: border-box;
    text-align: left;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    background-color: #ca3435;
}

header,
footer {
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
    color: #fefefa;
    background: #D92121;
}

section {
    background: #b94e48;
    text-align: left;
    color: #fefefa;
    float: center;
    margin-top: 25px;
    padding: 10px;
    width: calc(100% - 15px/ 3);
}

section {}

#left {}

#middle {
    background: #333;
}

#right {}

#full {
    background: #333333;
    float: none;
    margin-top: 25px;
    width: 70%;
}

#division {
    background: #30948d;
    margin-top: 25px;
    padding: 15px;
}

aside {
    ;
    border: 5px solid darkslategray;
    float: center;
    height: 150px;
    margin-right: 15px;
    padding-top: 25px;
    width: calc(100% /3);
}

footer {
    margin: 0px;
}